In [2]:
import pandas as pd

In [4]:
s = pd.Series([23, 45, 67,98, 80])

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s2 = pd.Series([23, 45, 67,98, 80], index=["Rohan", "John", "Aman", "Akash", "Rohit"])

In [7]:
s2

Rohan    23
John     45
Aman     67
Akash    98
Rohit    80
dtype: int64

In [8]:
data = {
    "Name" : ["Akash", "Nobita", "Shinchan"],
    "Age" : [20, 10, 5],
    "city": ["Jamshedpur", "tokyo", "osaka"]
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

       Name  Age        city
0     Akash   20  Jamshedpur
1    Nobita   10       tokyo
2  Shinchan    5       osaka

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['Name', 'Age', 'city'], dtype='object')